* {
  font-family: helvetica, sans-serif;
}
html body {
  line-height: inherit;
}
.preload * {
  -webkit-transition: all 0s linear ! important;
}
body {
  margin: 0;
  overflow: hidden;
}
h1 {
  color: #5588AA;
  font-size: 1.1em;
  margin: 0;
}
h2 {
  font-size: 0.8em;
  color: #444444;
  margin: 0;
  border: 6px solid #efefef;
  font-weight: normal;
  background-color: #efefef;
}
iframe {
  width: 99%;
  height: 40%;
  border: 2px solid #cccccc;
  -webkit-transition: height 0.5s;
}
.large-body iframe {
  height: 80%;
  width: 99%;
}
table {
  border-spacing: 0;
}
#layout_controls {
  position: absolute;
  margin: 0.7em;
  right: 0;
  width: 140px;
}
#top_panel {
  width: 100%;
  position: fixed;
  background-color: #E0EAF1;
  height: 45px;
}
#logo {
  font-family: Georgia;
  font-weight: bold;
  position: absolute;
  color: #fff;
  font-size: 3.2em;
  text-shadow: #cccccc 0px 1px 2px;
  height: 45px;
  overflow: hidden;
  margin-left: 10px;
}
#left_panel,
#right_panel {
  position: absolute;
  overflow: scroll;
  top: 45px;
  bottom: 0;
  -webkit-transition: width 0.5s, left 0.5s;
}
#left_panel {
  left: 0px;
}
#right_panel {
  top: 50px;
  right: 0px;
  border-left: 2px solid #E0EAF1;
  font-size: 1.1em;
}
#request_panel {
  margin-bottom: 30px;
  margin-top: 5px;
}
#response_panel {
  margin-bottom: 30px;
}
.large-body h1,
.large-body h2,
.large-body table,
.large-body .message-details {
  display: none;
}
#request_panel h1,
#response_panel h1,
#request_panel p,
#response_panel p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
}
#request_panel .url,
#response_panel .url {
  color: #5588AA;
}
#request_panel *,
#response_panel * {
  word-wrap: break-word;
}
#request_panel table,
#response_panel table {
  width: 100%;
}
#selected_request {
  padding: 4px;
  padding-left: 10px;
  width: 95%;
}
#requests {
  table-layout: fixed;
  width: 100%;
  margin-top: 23px;
}
#requests tr.selected {
  background-color: #5588AA;
}
#requests tr.selected,
#requests tr.selected .cell.path {
  color: #ffffff;
}
#requests thead tr:nth-child(1) {
  visibility: hidden;
}
#request_headers,
#response_headers {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  -webkit-transition: height 0.5s;
}
.header .name {
  width: 120px;
}
#requests tbody tr:not(.selected):hover {
  background-color: #E0EAF1;
  color: #336699;
  cursor: pointer;
}
#requests .cell {
  white-space: nowrap;
  overflow: hidden;
}
#requests .cell,
#selected_request td,
#request_headers td,
#response_headers td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #efefef;
}
#requests .cell,
#selected_request td {
  font-size: 0.8em;
}
#requests .cell {
  overflow: hidden;
}
#requests .cell.icon {
  border-right: none;
  width: 26px;
}
#requests .cell.icon {
  width: 21px;
}
#requests .cell.icon img {
  margin-top: 2px;
  max-height: 14px;
}
#requests .cell.method {
  border-left: none;
  border-right: none;
  width: 45px;
}
#requests tr:hover td.cell:nth-child(n+3) {
  display: none;
}
#requests tr:hover td.cell.path {
  display: table-cell;
}
#requests .cell.path {
  border-left: none;
  color: #58A;
}
#requests .cell.path .trimmed {
  width: auto;
  overflow: visible;
  display: block ;
}
#requests .cell.path .full {
  display: none;
}
#requests .cell.path:hover .full {
  display: block;
}
#requests .cell.path:hover .trimmed {
  display: none;
}
#requests .cell.host {
  width: 170px;
}
#requests td.content-type {
  width: 160px;
}
#requests .cell.status {
  width: 35px;
}
#requests .cell.time {
  width: 150px;
}
#historical-controls {
  width: 250px;
  line-height: 1.65;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
}
#historical-controls,
.connecting-message {
  padding: 8px 8px 6px 8px;
  position: fixed;
  background-color: white;
  border-bottom: 2px solid #E0EAF1;
  border-right: 2px solid #E0EAF1;
  border-radius: 0 0 5px 0;
  z-index: 2;
}
#historical-controls select,
#historical-controls input {
  position: relative;
  top: -1px;
}
#historical-controls #scale {
  height: auto;
  width: auto;
  margin-bottom: auto;
}
.connecting-message {
  background: url('../images/icons/pending.gif') no-repeat;
  background-position: 5px center;
  padding: 6px 10px 6px 35px;
  margin: 0px 0 0;
  position: ;
  display: inline-block;
  z-index: 1;
  background-color: white;
  top: 79px;
}
.connecting .connecting-message {
  top: 79px;
  -webkit-transition: top 0.5s;
}
.connected .connecting-message {
  top: 50px;
  -webkit-transition: top 0.5s;
}
#everything_but_the_body,
#response_body_panel {
  -webkit-transition: width 0.5s;
  width: 100%;
}
