* {
  font-family: helvetica, sans-serif;
}
body {
  margin: 0;
  overflow: hidden;
}
h1 {
  color: #5588AA;
  font-size: 1.1em;
  margin: 0;
}
h2 {
  font-size: 0.8em;
  color: #444444;
  margin: 0;
  border: 6px solid #efefef;
  font-weight: normal;
  background-color: #efefef;
}
iframe {
  width: 99%;
  height: 150px;
  border: 2px solid #cccccc;
}
table {
  border-spacing: 0;
}

#top_panel {
  width: 100%;
  position: fixed;
  background-color: #E0EAF1;
  height: 45px;
  border-bottom: 5px solid #ffffff;
}
#logo {
  font-family: Georgia;
  font-weight: bold;
  position: absolute;
  color: #fff;
  font-size: 3.2em;
  text-shadow: #cccccc 0px 1px 2px;
  height: 45px;
  overflow: hidden;
  margin-left: 10px;
}

#left_panel, #right_panel {
  position: absolute;
  overflow: scroll;
  top: 50px;
  bottom: 0;
}
#left_panel {
  left: 0px;
  width: 750px;
}
#right_panel {
  top: 50px;
  right: 0px;
  left: 750px;
  border-left: 2px solid #E0EAF1;
}

#request_panel {
  margin-bottom: 30px;
  margin-top: 5px;
}

#response_panel {
  margin-bottom: 30px;
}

#request_panel h1, #response_panel h1,
#request_panel p, #response_panel p,
{
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;  
  max-width: 100%;
}

#request_panel .url, #response_panel .url {
  color: #5588AA;
}

#request_panel *, #response_panel * {
  word-wrap: break-word;
}

#request_panel table, #response_panel table {
  width: 100%;
}

#selected_request {
  padding: 4px;
  padding-left: 10px;
  width: 95%;
}

#requests {
  table-layout:fixed;
  width: 100%;
}

#requests tr.selected {
  background-color: #5588AA;
  color: #ffffff;
}

#request_headers, #response_headers {
  width: 100%;
  border-spacing: 0;
  table-layout:fixed;
}

.header .name {
  width: 120px;
}

#requests tbody tr:hover {
  background-color: #E0EAF1;
  color: #336699;
  cursor: pointer;
}

#requests td.cell {
  white-space: nowrap;
  overflow: hidden;
}

#requests td.cell, #selected_request td, #request_headers td, #response_headers td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #efefef;
}

#requests td.cell, #selected_request td {
  font-size: 0.8em;
}

#requests td.cell {
  overflow: hidden;
}

#requests td.cell.icon {
  border-right: none;
  width: 26px;
}

#requests td.cell.icon {
  width: 21px;
}
#requests td.cell.icon img {
  margin-top:2px;
  max-height:14px;
}

#requests td.cell.method {
  border-left: none;
  border-right: none;
  width: 35px;
}

#requests td.cell.path {
  border-left: none;
  color: #58A;
}

#requests td.cell.host {
  width: 170px;
}

#requests td.content-type {
  width: 160px;
}

#requests td.cell.status {
  width: 35px;
}

#requests td.cell.time {
  width: 150px;
}